* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f9;
}

.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 280px;
    background: linear-gradient(180deg, #0047b3, #00307a);
    padding: 25px;
    color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 12px;
    transition: 0.3s;
}

.menu a:hover,
.menu .active {
    background: rgba(255,255,255,0.15);
}

.menu i {
    margin-right: 10px;
}

.content {
    flex: 1;
    padding: 30px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #0047b3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.page-header {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header h1 {
    color: #00307a;
    font-size: 42px;
}

.page-header p {
    color: #555;
}

.new-btn {
    background: #0047b3;
    color: white;
    border: none;
    padding: 14px 22px;
    border-radius: 12px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 18px;
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.blue {
    background: #0047b3;
}

.green {
    background: #22c55e;
}

.yellow {
    background: #facc15;
}

.red {
    background: #ef4444;
}

.card span {
    font-size: 36px;
    font-weight: bold;
}

.filters-area {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 2fr 180px 180px 150px;
    gap: 15px;
}

.search-box {
    background: white;
    border-radius: 14px;
    padding: 14px 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #e0e0e0;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
}

.filters-area select,
.filter-btn {
    border: none;
    background: white;
    border-radius: 14px;
    padding: 14px;
    border: 1px solid #e0e0e0;
}

.filters-area select:hover,
.filter-btn:hover {
    background:#eaf1ff;
    color:#0047b3;
}

.table-card {
    background: white;
    margin-top: 25px;
    border-radius: 18px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 20px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}

th {
    font-size: 14px;
}

.equipment-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.equipment-info img {
    width: 90px;
    height: 70px;
    object-fit: cover;
    border-radius: 12px;
}

.badge-status {
    padding: 8px 14px;
    border-radius: 30px;
    font-size: 13px;
}

.success-status {
    background: #dcfce7;
    color: #166534;
}

.warning-status {
    background: #fef3c7;
    color: #92400e;
}

.late-status {
    background: #fee2e2;
    color: #991b1b;
}

.danger-status {
    background: #fee2e2;
    color: #dc2626;
}

.regular-status {
    background: #fef3c7;
    color: #b45309;
}

.actions {
    display: flex;
    gap: 10px;
}

.btn-action {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.edit {
    background: #e0edff;
    color: #0047b3;
}

.delete {
    background: #ffe5e5;
    color: #dc2626;
}

@media(max-width: 1200px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .filters-area {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 900px) {

    .sidebar {
        display: none;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    table {
        display: block;
        overflow-x: auto;
    }
}